@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import "_variables.scss";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$subtle-blue-color: lighten($primary, 45%);

body {
  font-family: 'Nunito', sans-serif;
  background: $subtle-blue-color;
}

.todos-container {
  max-width: 700px;
}
#newtodoinput {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) inset !important;
  background-color: $subtle-blue-color;
}

.todo-list-item {
  padding-left: 0;
  padding-right: 0;
}

.list-group-item {
  background: transparent;
}
.list-group-flush > .list-group-item:last-child {
  //border-width: 0 0 $list-group-border-width;
}

.form-check-input {
  min-width: 20px;
  min-height: 20px;
}
